.history {
  margin: 2em 1em;

  font-family: 'Courier New', Courier, monospace;
}



.result {
  margin: 2em 1em;
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}